/* ==================
          背景
 ==================== */

/* -- 基础色 -- */
@each $color, $value in map-merge($colors, $darks) {
  .bg-#{$color} {
    background-color: $value !important;
    @if $color == 'yellow' {
      color: #333 !important;
    } @else {
      color: #fff !important;
    }
  }
}

/* -- 浅色 -- */
@each $color, $value in $colors {
  .bg-#{$color}-light {
    color: $value !important;
    background-image: linear-gradient(45deg, white, mix(white, $value, 85%)) !important;
  }

  .bg-#{$color}-thin {
    color: $value !important;
    background-color: rgba($value, var(--vin-bg-opacity)) !important;
  }
}

/* -- 渐变色 -- */
@each $color, $value in $colors {
  @each $colorsub, $valuesub in $colors {
    @if $color != $colorsub {
      .bg-#{$color}-#{$colorsub} {
        color: #fff !important;
        background-image: linear-gradient(130deg, $value, $valuesub) !important;
      }
    }
  }
}

.bg-yellow-gradient {
  color: $dark-3 !important;
  background-image: linear-gradient(45deg, #f5fe00, #f60) !important;
}

.bg-orange-gradient {
  color: $white !important;
  background-image: linear-gradient(45deg, #ff9700, #ed1c24) !important;
}

.bg-red-gradient {
  color: $white !important;
  background-image: linear-gradient(45deg, #f33a41, #ed0586) !important;
}

.bg-pink-gradient {
  color: $white !important;
  background-image: linear-gradient(45deg, #fea894, #ff1047) !important;
}

.bg-mauve-gradient {
  color: $white !important;
  background-image: linear-gradient(45deg, #c01f95, #7115cc) !important;
}

.bg-purple-gradient {
  color: $white !important;
  background-image: linear-gradient(45deg, #9829ea, #5908fb) !important;
}

.bg-blue-gradient {
  color: $white !important;
  background-image: linear-gradient(45deg, #00b8f9, #0166eb) !important;
}

.bg-cyan-gradient {
  color: $white !important;
  background-image: linear-gradient(45deg, #06edfe, #48b2fe) !important;
}

.bg-green-gradient {
  color: $white !important;
  background-image: linear-gradient(45deg, #3ab54a, #8cc63f) !important;
}

.bg-olive-gradient {
  color: $white !important;
  background-image: linear-gradient(45deg, #90e630, #39d266) !important;
}

.bg-grey-gradient {
  color: $white !important;
  background-image: linear-gradient(45deg, #9aadb9, #354855) !important;
}

.bg-brown-gradient {
  color: $white !important;
  background-image: linear-gradient(45deg, #ca6f2e, #cb1413) !important;
}

@each $color, $value in $grays {
  .bg-#{$color} {
    color: #333 !important;
    background-color: $value !important;
  }
}

.bg-square {
  @include bg-square;
}

.bg-none {
  color: inherit !important;
  background: transparent !important;
}

[class*='bg-mask'] {
  position: relative;
  color: #fff !important;
  > view,
  > text {
    position: relative;
    z-index: 1;
    color: #fff;
  }
  &::before {
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: inherit;
    content: '';
    @include position-center;
  }
  @at-root .bg-mask-80::before {
    background: rgba(0, 0, 0, 0.8) !important;
  }
  @at-root .bg-mask-50::before {
    background: rgba(0, 0, 0, 0.5) !important;
  }
  @at-root .bg-mask-20::before {
    background: rgba(0, 0, 0, 0.2) !important;
  }
  @at-root .bg-mask-top::before {
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.618), rgba(0, 0, 0, 0.01));
  }
  @at-root .bg-white-top {
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
  }
  @at-root .bg-mask-bottom::before {
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.618), rgba(0, 0, 0, 1));
  }
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

[class*='bg-blur'] {
  position: relative;
  > view,
  > text {
    position: relative;
    z-index: 1;
  }
  &::before {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transform-origin: 0 0;
    content: '';
    pointer-events: none;
    @include position-center;
  }
}

@supports (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px)) {
  .bg-blur::before {
    @include blur;

    background-color: var(--vin-blur-1);
  }
  .bg-blur-1::before {
    @include blur;

    background-color: var(--vin-blur-2);
  }
  .bg-blur-2::before {
    @include blur;

    background-color: var(--vin-blur-3);
  }
}

@supports not (backdrop-filter: blur(5px)) {
  .bg-blur {
    color: var(--vin-text-color);
    &::before {
      background-color: var(--vin-bg);
    }
  }
  .bg-blur-1 {
    color: var(--vin-text-color);
    &::before {
      background-color: var(--vin-bg-1);
    }
  }
  .bg-blur-2 {
    color: var(--vin-text-color);
    &::before {
      background-color: var(--vin-bg-2);
    }
  }
}
