.vin-tabpane {
  display: block;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 24px 20px;
  overflow: auto;
  background-color: #fff;
  &.active {
    // overflow: visible;
  }
}
