// 颜色
$gray-f: #f8f9fa !default;
$gray-e: #eee !default;
$gray-d: #ddd !default;
$gray-c: #ccc !default;
$gray-b: #bbb !default;
$gray-a: #aaa !default;

$white: #fff !default;
$dark-9: #999 !default;
$dark-8: #888 !default;
$dark-7: #777 !default;
$dark-6: #666 !default;
$dark-5: #555 !default;
$dark-4: #444 !default;
$dark-3: #333 !default;
$dark-2: #222 !default;
$dark-1: #111 !default;
$black: #000 !default;

$red: #e54d42 !default;
$blue: #0081ff !default;
$orange: #f37b1d !default;
$orange-dark: #ed6a0c !default;
$orange-light: #fffbe8 !default;
$green: #3eb93b !default;
$yellow: #fbbd08 !default;
$pink: #e03997 !default;
$mauve: #b745cb !default;
$purple: #8044de !default;
$cyan: #37c0fe !default;
$olive: #8dc63f !default;
$grey: #8799a3 !default;
$brown: #a5673f !default;

// Font
$font-size-0: var(--vin-font-size-0, 10px) !default;
$font-size-1: var(--vin-font-size-1, 12px) !default;
$font-size-2: var(--vin-font-size-2, 14px) !default;
$font-size-3: var(--vin-font-size-3, 16px) !default;
$font-size-4: var(--vin-font-size-4, 18px) !default;
$font-weight-bold: var(--vin-font-weight-bold, 400) !default;

$font-size-small: var(--vin-font-size-small, $font-size-1) !default;
$font-size-base: var(--vin-font-size-base, $font-size-2) !default;
$font-size-large: var(--vin-font-size-large, $font-size-3) !default;
$line-height-base: var(--vin-line-height-base, 1.5) !default;

// 主色调
$primary-color: var(--vin-primary-color, #f87d09) !default;
$primary-color-end: var(--vin-primary-color-end, #f87d09) !default;

// 辅助色
$help-color: var(--vin-help-color, #f5f5f5) !default;
// 标题常规文字
$title-color: var(--vin-title-color, #1a1a1a) !default;
// 副标题
$title-color2: var(--vin-title-color2, #666) !default;
// 次内容
$text-color: var(--vin-text-color, #808080) !default;
// 特殊禁用色
$disable-color: var(--vin-disable-color, #ccc) !default;
$required-color: var(--vin-required-color, #fa2c19) !default;

$dark-background: var(--vin-dark-background, #131313) !default;
$dark-background2: var(--vin-dark-background2, #1b1b1b) !default;
$dark-background3: var(--vin-dark-background3, #141414) !default;
$dark-background4: var(--vin-dark-background4, #323233) !default;
$dark-background5: var(--vin-dark-background5, #646566) !default;
$dark-background6: var(--vin-dark-background6, #380e08) !default;
$dark-background7: var(--vin-dark-background7, #707070) !default;
$dark-color: var(--vin-dark-color, $white) !default;
$dark-color2: var(--vin-dark-color2, #f2270c) !default;
$dark-color3: var(--vin-dark-color3, rgba(232, 230, 227, 0.8)) !default;
$dark-color-gray: var(--vin-dark-color-gray, $text-color) !default;
$dark-calendar-choose-color: var(
  --vin-dark-calendar-choose-color,
  rgba(227, 227, 227, 0.2)
) !default;

$font-family: var(
  --vin-font-family,
  PingFang SC,
  Microsoft YaHei,
  Helvetica,
  Hiragino Sans GB,
  SimSun,
  sans-serif
) !default;

// ---- Animation ----
$animation-duration: var(--vin-animation-duration, 0.25s) !default;
$animation-timing-fun: var(
  --vin-animation-timing-fun,
  cubic-bezier(0.55, 0.085, 0.68, 0.53)
) !default;

// button
$button-border-radius: var(--vin-button-border-radius, 25px) !default;
$button-border-width: var(--vin-button-border-width, 1px) !default;
$button-default-bg-color: var(--vin-button-default-bg-color, $white) !default;
$button-default-border-color: var(
  --vin-button-default-border-color,
  rgba(204, 204, 204, 1)
) !default;
$button-default-color: var(--vin-button-default-color, rgba(102, 102, 102, 1)) !default;
$button-default-padding: var(--vin-button-default-padding, 0 22px) !default;
$button-mini-padding: var(--vin-button-mini-padding, 0 12px) !default;
$button-small-padding: var(--vin-button-small-padding, 0 16px) !default;
$button-small-height: var(--vin-button-small-height, 32px) !default;
$button-mini-height: var(--vin-button-mini-height, 24px) !default;
$button-default-height: var(--vin-button-default-height, 44px) !default;
$button-large-height: var(--vin-button-large-height, 48px) !default;
$button-large-line-height: var(--vin-button-large-line-height, 46px) !default;
$button-small-line-height: var(--vin-button-small-line-height, 26px) !default;
$button-block-height: var(--vin-button-block-height, 48px) !default;
$button-default-line-height: var(--vin-button-default-line-height, 36px) !default;
$button-block-line-height: var(--vin-button-block-line-height, 46px) !default;
$button-default-font-size: var(--vin-button-default-font-size, $font-size-3) !default;
$button-small-font-size: var(--vin-button-small-font-size, $font-size-2) !default;
$button-mini-font-size: var(--vin-button-mini-font-size, $font-size-1) !default;
$button-disabled-opacity: var(--vin-button-disabled-opacity, 0.68) !default;
$button-primary-color: var(--vin-button-primary-color, $white) !default;
$button-primary-border-color: var(--vin-button-primary-border-color, $primary-color) !default;
$button-primary-background-color: var(
  --vin-button-primary-background-color,
  linear-gradient(
    135deg,
    var(--vin-primary-color, $primary-color) 0%,
    var(--vin-primary-color, $primary-color) 100%
  )
) !default;
$button-info-color: var(--vin-button-info-color, $white) !default;
$button-info-border-color: var(--vin-button-info-border-color, rgba(73, 106, 242, 1)) !default;
$button-info-background-color: var(
  --vin-button-info-background-color,
  linear-gradient(315deg, rgba(73, 143, 242, 1) 0%, rgba(73, 101, 242, 1) 100%)
) !default;
$button-success-color: var(--vin-button-success-color, $white) !default;
$button-success-border-color: var(--vin-button-success-border-color, rgba(38, 191, 38, 1)) !default;
$button-success-background-color: var(
  --vin-button-success-background-color,
  linear-gradient(
    135deg,
    rgba(38, 191, 38, 1) 0%,
    rgba(39, 197, 48, 1) 45%,
    rgba(40, 207, 63, 1) 83%,
    rgba(41, 212, 70, 1) 100%
  )
) !default;

$button-danger-color: var(--vin-button-danger-color, $white) !default;
$button-danger-border-color: var(--vin-button-danger-border-color, rgba(250, 44, 25, 1)) !default;
$button-danger-background-color: var(
  --vin-button-danger-background-color,
  rgba(250, 44, 25, 1)
) !default;
$button-warning-color: var(--vin-button-warning-color, $white) !default;
$button-warning-border-color: var(
  --vin-button-warning-border-color,
  rgba(255, 158, 13, 1)
) !default;
$button-warning-background-color: var(
  --vin-button-warning-background-color,
  linear-gradient(
    135deg,
    rgba(255, 158, 13, 1) 0%,
    rgba(255, 167, 13, 1) 45%,
    rgba(255, 182, 13, 1) 83%,
    rgba(255, 190, 13, 1) 100%
  )
) !default;
$button-plain-background-color: var(--vin-button-plain-background-color, $white) !default;

// cell

$cell-color: var(--vin-cell-color, $title-color2) !default;
$cell-title-font: var(--vin-cell-title-font, $font-size-2) !default;
$cell-title-desc-font: var(--vin-cell-title-desc-font, $font-size-1) !default;
$cell-desc-font: var(--vin-cell-desc-font, $font-size-2) !default;
$cell-desc-color: var(--vin-cell-desc-color, $disable-color) !default;
$cell-border-radius: var(--vin-cell-border-radius, 6px) !default;
$cell-padding: var(--vin-cell-padding, 13px 16px) !default;
$cell-line-height: var(--vin-cell-line-height, 20px) !default;
$cell-after-right: var(--vin-cell-after-right, 16px) !default;
$cell-after-border-bottom: var(--vin-cell-after-border-bottom, 1px solid #f5f6f7) !default;
$cell-default-icon-margin: var(--vin-cell-default-icon-margin, 0 4px 0 0) !default;

// cell-group

$cell-group-title-padding: var(--vin-cell-group-title-padding, 0 10px) !default;
$cell-group-title-color: var(--vin-cell-group-title-color, #909ca4) !default;
$cell-group-title-font-size: var(--vin-cell-group-title-font-size, $font-size-2) !default;
$cell-group-title-line-height: var(--vin-cell-group-title-line-height, 20px) !default;
$cell-group-desc-padding: var(--vin-cell-group-desc-padding, 0 10px) !default;
$cell-group-desc-color: var(--vin-cell-group-desc-color, #909ca4) !default;
$cell-group-desc-font-size: var(--vin-cell-group-desc-font-size, $font-size-1) !default;
$cell-group-desc-line-height: var(--vin-cell-group-desc-line-height, 16px) !default;
$cell-group-background-color: var(--vin-cell-group-background-color, $white) !default;

// divider

$divider-margin: var(--vin-divider-margin, 16px 0) !default;
$divider-text-font-size: var(--vin-divider-text-font-size, $font-size-2) !default;
$divider-text-color: var(--vin-divider-text-color, #909ca4) !default;
$divider-line-color: var(--vin-divider-line-color, rgba(0, 0, 0, 0.3)) !default;
$divider-line-height: var(--vin-divider-line-height, 2px) !default;
$divider-before-margin-right: var(--vin-divider-before-margin-right, 16px) !default;
$divider-after-margin-left: var(--vin-divider-after-margin-left, 16px) !default;

// icon

$icon-height: var(--vin-icon-height, 20px) !default;
$icon-width: var(--vin-icon-width, 20px) !default;
$icon-line-height: var(--vin-icon-line-height, 20px) !default;

// uploader

$uploader-picture-width: var(--vin-uploader-picture-width, 100px) !default;
$uploader-picture-height: var(--vin-uploader-picture-height, 100px) !default;
$uploader-background: var(--vin-uploader-background, #f7f8fa) !default;

// picker
$picker-cancel-color: var(--vin-picker-cancel-color, #808080) !default;
$picker-ok-color: var(--vin-picker-ok-color, $primary-color) !default;
$picker-bar-cancel-font-size: var(--vin-picker-bar-cancel-font-size, 14px) !default;
$picker-bar-ok-font-size: var(--vin-picker-bar-ok-font-size, 14px) !default;
$picker-bar-button-padding: var(--vin-picker-bar-button-padding, 0 15px) !default;
$picker-bar-title-font-size: var(--vin-picker-bar-title-font-size, 16px) !default;
$picker-bar-title-color: var(--vin-picker-bar-title-color, $title-color) !default;
$picker-bar-title-font-weight: var(--vin-picker-bar-title-font-weight, normal) !default;
$picker-item-height: var(--vin-picker-item-height, 36px) !default;
$picker-item-text-color: var(--vin-picker-item-text-color, $title-color) !default;
$picker-item-active-text-color: $primary-color !default;
$picker-item-text-font-size: var(--vin-picker-item-text-font-size, 14px) !default;
$picker-item-active-line-border: var(
  --vin-picker-item-active-line-border,
  1px solid #eae7e7
) !default;

//input
$input-border-bottom: var(--vin-input-border-bottom, #eaf0fb) !default;
$input-disabled-color: var(--vin-input-disabled-color, #c8c9cc) !default;
$input-required-color: var(--vin-input-required-color, $required-color) !default;
$input-font-size: var(--vin-input-font-size, $font-size-2) !default;

// textarea

$textarea-font: var(--vin-textarea-font, $font-size-2) !default;
// $textarea-height: var(--vin-textarea-height, 100px) !default;
$textarea-limit-color: var(--vin-textarea-limit-color, $text-color) !default;
$textarea-text-color: var(--vin-textarea-text-color, $title-color) !default;
$textarea-disabled-color: var(--vin-textarea-disabled-color, $disable-color) !default;

// inputnumber
$inputnumber-icon-color: var(--vin-inputnumber-icon-color, $title-color) !default;
$inputnumber-icon-void-color: var(--vin-inputnumber-icon-void-color, $disable-color) !default;
$inputnumber-icon-size: var(--vin-inputnumber-icon-size, 20px) !default;
$inputnumber-input-font-size: var(--vin-inputnumber-input-font-size, 12px) !default;
$inputnumber-input-font-color: var(--vin-inputnumber-input-font-color, $title-color) !default;
$inputnumber-input-background-color: var(
  --vin-inputnumber-input-background-color,
  $help-color
) !default;
$inputnumber-input-border-radius: var(--vin-inputnumber-input-border-radius, 4px) !default;
$inputnumber-input-width: var(--vin-inputnumber-input-width, 40px) !default;
$inputnumber-input-margin: var(--vin-inputnumber-input-margin, 0 6px) !default;
$inputnumber-input-border: var(--vin-inputnumber-input-border, 0) !default;

// actionsheet
$actionsheet-light-color: var(--vin-actionsheet-light-color, #f6f6f6) !default;
$actionsheet-item-border-bottom: var(--vin-actionsheet-item-border-bottom, none) !default;
$actionsheet-item-font-size: var(--vin-actionsheet-item-font-size, $font-size-2) !default;
$actionsheet-item-subdesc-font-size: var(
  --vin-actionsheet-item-subdesc-font-size,
  $font-size-1
) !default;
$actionsheet-item-cancel-border-top: var(
  --vin-actionsheet-item-cancel-border-top,
  1px solid $actionsheet-light-color
) !default;
$actionsheet-item-line-height: var(--vin-actionsheet-item-line-height, 24px) !default;
$actionsheet-item-font-color: var(--vin-actionsheet-item-font-color, $title-color) !default;

//shortpassword
$shortpassword-background-color: var(
  --vin-shortpassword-background-color,
  rgba(245, 245, 245, 1)
) !default;
$shortpassword-border-color: var(--vin-shortpassword-border-color, #ddd) !default;
$shortpassword-error: var(--vin-shortpassword-error, $primary-color) !default;
$shortpassword-forget: var(--vin-shortpassword-forget, rgba(128, 128, 128, 1)) !default;

//numberkeyboard
$numberkeyboard-width: var(--vin-numberkeyboard-width, 100%) !default;
$numberkeyboard-padding: var(--vin-numberkeyboard-padding, 0 0 22px 0) !default;
$numberkeyboard-background-color: var(--vin-numberkeyboard-background-color, #f2f3f5) !default;
$numberkeyboard-header-height: var(--vin-numberkeyboard-header-height, 34px) !default;
$numberkeyboard-header-padding: var(--vin-numberkeyboard-header-padding, 6px 0 0 0) !default;
$numberkeyboard-header-color: var(--vin-numberkeyboard-header-color, #646566) !default;
$numberkeyboard-header-font-size: var(--vin-numberkeyboard-header-font-size, 16px) !default;
$numberkeyboard-header-close-padding: var(
  --vin-numberkeyboard-header-close-padding,
  0 16px
) !default;
$numberkeyboard-header-close-color: var(--vin-numberkeyboard-header-close-color, #576b95) !default;
$numberkeyboard-header-close-font-size: var(
  --vin-numberkeyboard-header-close-font-size,
  14px
) !default;
$numberkeyboard-header-close-background-color: var(
  --vin-numberkeyboard-header-close-background-color,
  transparent
) !default;
$numberkeyboard-key-background-color: var(--vin-numberkeyboard-key-background-color, #fff) !default;
$numberkeyboard-key-active-background-color: var(
  --vin-numberkeyboard-key-active-background-color,
  #ebedf0
) !default;
$numberkeyboard-key-height: var(--vin-numberkeyboard-key-height, 48px) !default;
$numberkeyboard-key-line-height: var(--vin-numberkeyboard-key-line-height, 1.5) !default;
$numberkeyboard-key-border-radius: var(--vin-numberkeyboard-key-border-radius, 8px) !default;
$numberkeyboard-key-font-size: var(--vin-numberkeyboard-key-font-size, 28px) !default;
$numberkeyboard-key-font-size-color: var(--vin-numberkeyboard-key-font-size-color, #333) !default;
$numberkeyboard-key-finish-font-size: var(--vin-numberkeyboard-key-finish-font-size, 16px) !default;
$numberkeyboard-key-finish-font-size-color: var(
  --vin-numberkeyboard-key-finish-font-size-color,
  #fff
) !default;
$numberkeyboard-key-finish-background-color: var(
  --vin-numberkeyboard-key-finish-background-color,
  #1989fa
) !default;
$numberkeyboard-key-activeFinsh-background-color: var(
  --vin-numberkeyboard-key-activeFinsh-background-color,
  #0570db
) !default;

// countdown
$countdown-display: var(--vin-countdown-display, flex) !default;
$countdown-color: var(--vin-countdown-color, inherit) !default;
$countdown-font-size: var(--vin-countdown-font-size, initial) !default;

//large price
$price-symbol-big-size: var(--vin-price-symbol-big-size, 18px) !default;
$price-big-size: var(--vin-price-big-size, 24px) !default;
$price-decimal-big-size: var(--vin-price-decimal-big-size, 18px) !default;

//normal price
$price-symbol-medium-size: var(--vin-price-symbol-medium-size, 14px) !default;
$price-medium-size: var(--vin-price-medium-size, 16px) !default;
$price-decimal-medium-size: var(--vin-price-decimal-medium-size, 14px) !default;

// small price
$price-symbol-small-size: var(--vin-price-symbol-small-size, 10px) !default;
$price-small-size: var(--vin-price-small-size, 12px) !default;
$price-decimal-small-size: var(--vin-price-decimal-small-size, 10px) !default;

//avatar
$avatar-square: var(--vin-avatar-square, 5px) !default;
$avatar-large-width: var(--vin-avatar-large-width, 60px) !default;
$avatar-large-height: var(--vin-avatar-large-height, 60px) !default;
$avatar-small-width: var(--vin-avatar-small-width, 32px) !default;
$avatar-small-height: var(--vin-avatar-small-height, 32px) !default;
$avatar-normal-width: var(--vin-avatar-normal-width, 40px) !default;
$avatar-normal-height: var(--vin-avatar-normal-height, 40px) !default;

//switch
$switch-close-bg-color: var(--vin-switch-close-bg-color, #ebebeb) !default;
$switch-close-cline-bg-color: var(--vin-switch-close-cline-bg-color, #f0f0f0) !default;
$switch-width: var(--vin-switch-width, 36px) !default;
$switch-height: var(--vin-switch-height, 21px) !default;
$switch-line-height: var(--vin-switch-line-height, 21px) !default;
$switch-border-radius: var(--vin-switch-border-radius, 21px) !default;
$switch-inside-width: var(--vin-switch-inside-width, 13px) !default;
$switch-inside-height: var(--vin-switch-inside-height, 13px) !default;
$switch-inside-open-transform: var(--vin-switch-inside-open-transform, translateX(146%)) !default;
$switch-inside-close-transform: var(--vin-switch-inside-close-transform, translateX(30%)) !default;

// toast
$toast-title-font-size: var(--vin-toast-title-font-size, 16px) !default;
$toast-text-font-size: var(--vin-toast-text-font-size, 14px) !default;
$toast-font-color: var(--vin-toast-font-color, $white) !default;
$toast-inner-padding: var(--vin-toast-inner-padding, 24px 30px) !default;
$toast-inner-bg-color: var(--vin-toast-inner-bg-color, rgba(0, 0, 0, 0.8)) !default;
$toast-inner-border-radius: var(--vin-toast-inner-border-radius, 12px) !default;
$toast-cover-bg-color: var(--vin-toast-cover-bg-color, rgba(0, 0, 0, 0)) !default;

//backtop
$backtop-border-color: var(--vin-backtop-border-color, #e0e0e0) !default;

// calendar
$calendar-primary-color: var(--vin-calendar-primary-color, $primary-color) !default;
$calendar-choose-color: var(--vin-calendar-choose-color, $primary-color) !default;
$calendar-choose-font-color: var(--vin-calendar-choose-font-color, $primary-color) !default;
$calendar-base-color: var(--vin-calendar-base-color, #333) !default;
$calendar-disable-color: var(--vin-calendar-disable-color, #d1d0d0) !default;
$calendar-base-font: var(--vin-calendar-base-font, $font-size-3) !default;
$calendar-title-font: var(--vin-calendar-title-font, $font-size-4) !default;
$calendar-title-font-weight: var(--vin-calendar-title-font-weight, 500) !default;
$calendar-sub-title-font: var(--vin-calendar-sub-title-font, $font-size-2) !default;
$calendar-text-font: var(--vin-calendar-text-font, $font-size-1) !default;
$calendar-day-font: var(--vin-calendar-day-font, 16px) !default;
$calendar-day-active-border-radius: var(--vin-calendar-day-active-border-radius, 0) !default;
$calendar-day-font-weight: var(--vin-calendar-day-font-weight, 500) !default;
$calendar-day67-font-color: var(--vin-calendar-day67-font-color, $primary-color) !default;
$calendar-month-title-font-size: var(--vin-calendar-month-title-font-size, inherit) !default;
$calendar-day-width: var(--vin-calendar-day-width, 14.28%) !default;
$calendar-day-height: var(--vin-calendar-day-height, 64px) !default;

//overlay
$overlay-bg-color: var(--vin-overlay-bg-color, rgba(0, 0, 0, 0.7)) !default;

//popup
$popup-close-icon-margin: var(--vin-popup-close-icon-margin, 16px) !default;
$popup-border-radius: var(--vin-popup-border-radius, 20px) !default;

// Notify
$notify-text-color: var(--vin-notify-text-color, $white) !default;
$notify-padding: var(--vin-notify-padding, 12px 0) !default;
$notify-font-size: var(--vin-notify-font-size, 14px) !default;
$notify-height: var(--vin-notify-height, 44px) !default;
$notify-line-height: var(--vin-notify-line-height, auto) !default;
$notify-base-background-color: var(
  --vin-notify-base-background-color,
  linear-gradient(135deg, $primary-color 0%, $primary-color-end 100%)
) !default;
$notify-primary-background-color: var(
  --vin-notify-primary-background-color,
  linear-gradient(315deg, rgba(73, 143, 242, 1) 0%, rgba(73, 101, 242, 1) 100%)
) !default;
$notify-success-background-color: var(
  --vin-notify-success-background-color,
  linear-gradient(
    135deg,
    rgba(38, 191, 38, 1) 0%,
    rgba(39, 197, 48, 1) 45%,
    rgba(40, 207, 63, 1) 83%,
    rgba(41, 212, 70, 1) 100%
  )
) !default;
$notify-danger-background-color: var(
  --vin-notify-danger-background-color,
  rgba(250, 50, 25, 1)
) !default;
$notify-warning-background-color: var(
  --vin-notify-warning-background-color,
  linear-gradient(135deg, rgba(255, 93, 13, 1) 0%, rgba(255, 154, 13, 1) 100%)
) !default;

// rate
$rate-icon-color: var(--vin-rate-icon-color, $primary-color) !default;
$rate-icon-void-color: var(--vin-rate-icon-void-color, $disable-color) !default;

// tabbar
$tabbar-active-color: var(--vin-tabbar-active-color, $primary-color) !default;
$tabbar-border-top: var(--vin-tabbar-border-top, 1px solid #eee) !default;
$tabbar-border-bottom: var(--vin-tabbar-border-bottom, 1px solid #eee) !default;
$tabbar-box-shadow: var(--vin-tabbar-box-shadow, none) !default;
$tabbar-item-text-font-size: var(--vin-tabbar-item-text-font-size, $font-size-0) !default;
$tabbar-item-text-line-height: var(--vin-tabbar-item-text-line-height, initial) !default;

//infiniteloading
$infiniteloading-bottom-color: var(--vin-infiniteloading-bottom-color, #c8c8c8) !default;

//range
$range-tip-font-color: var(--vin-range-tip-font-color, #333) !default;
$range-bg-color: var(--vin-range-bg-color, $primary-color) !default;
$range-bg-color-tick: var(--vin-range-bg-color-tick, #fa958c) !default;
$range-bar-bg-color: var(
  --vin-range-bar-bg-color,
  linear-gradient(135deg, $primary-color 0%, $primary-color-end 100%)
) !default;
$range-bar-btn-bg-color: var(--vin-range-bar-btn-bg-color, $white) !default;
$range-bar-btn-width: var(--vin-range-bar-btn-width, 24px) !default;
$range-bar-btn-height: var(--vin-range-bar-btn-height, 24px) !default;
$range-bar-btn-border: var(--vin-range-bar-btn-border, 1px solid $primary-color) !default;

//steps
$steps-base-icon-width: var(--vin-steps-base-icon-width, 25px) !default;
$steps-base-icon-height: var(--vin-steps-base-icon-height, 25px) !default;
$steps-base-icon-line-height: var(--vin-steps-base-icon-line-height, 25px) !default;
$steps-base-icon-font-size: var(--vin-steps-base-icon-font-size, 13px) !default;
$steps-base-title-font-size: var(--vin-steps-base-title-font-size, 14px) !default;
$steps-base-line-color: var(--vin-steps-base-line-color, #909ca4) !default;
$steps-base-title-color: var(--vin-steps-base-title-color, #909ca4) !default;
$steps-base-title-margin-bottom: var(--vin-steps-base-title-margin-bottom, 10px) !default;
$steps-base-content-font-size: var(--vin-steps-base-content-font-size, 14px) !default;
$steps-base-content-color: var(--vin-steps-base-content-color, #666) !default;

$steps-wait-icon-bg-color: var(--vin-steps-wait-icon-bg-color, #959fb1) !default;
$steps-wait-icon-color: var(--vin-steps-wait-icon-color, $white) !default;
$steps-wait-head-color: var(--vin-steps-wait-head-color, #909ca4) !default;
$steps-wait-head-border-color: var(--vin-steps-wait-head-border-color, #909ca4) !default;
$steps-wait-content-color: var(--vin-steps-wait-content-color, #909ca4) !default;

$steps-finish-head-color: var(--vin-steps-finish-head-color, $primary-color) !default;
$steps-finish-head-border-color: var(--vin-steps-finish-head-border-color, $primary-color) !default;
$steps-finish-title-color: var(--vin-steps-finish-title-color, $primary-color) !default;
$steps-finish-line-background: var(--vin-steps-finish-line-background, $primary-color) !default;
$steps-finish-icon-text-color: var(--vin-steps-finish-icon-text-color, $white) !default;

$steps-process-head-color: var(--vin-steps-process-head-color, $white) !default;
$steps-process-head-border-color: var(
  --vin-steps-process-head-border-color,
  $primary-color
) !default;
$steps-process-title-color: var(--vin-steps-process-title-color, $primary-color) !default;
$steps-process-icon-text-color: var(--vin-steps-process-icon-text-color, $primary-color) !default;

// dialog
$dialog-width: var(--vin-dialog-width, 296px) !default;

// checkbox
$checkbox-label-color: var(--vin-checkbox-label-color, #1d1e1e) !default;
$checkbox-label-disable-color: var(--vin-checkbox-label-disable-color, #999) !default;
$checkbox-icon-disable-color: var(--vin-checkbox-icon-disable-color, #d6d6d6) !default;
$checkbox-label-margin-left: var(--vin-checkbox-label-margin-left, 15px) !default;
$checkbox-label-font-size: var(--vin-checkbox-label-font-size, 14px) !default;
$checkbox-icon-font-size: var(--vin-checkbox-icon-font-size, 18px) !default;

//radio
$radio-label-font-color: var(--vin-radio-label-font-color, #1d1e1e) !default;
$radio-label-font-active-color: var(--vin-radio-label-font-active-color, $primary-color) !default;
$radio-label-disable-color: var(--vin-radio-label-disable-color, #999) !default;
$radio-icon-disable-color: var(--vin-radio-icon-disable-color, #d6d6d6) !default;
$radio-label-button-border-color: var(
  --vin-radio-label-button-border-color,
  $primary-color
) !default;
$radio-label-button-background: var(--vin-radio-label-button-background, $primary-color) !default;
$radio-label-margin-left: var(--vin-radio-label-margin-left, 15px) !default;
$radio-button-border-radius: var(--vin-radio-button-border-radius, 15px) !default;
$radio-label-font-size: var(--vin-radio-label-font-size, 14px) !default;
$radio-button-font-size: var(--vin-radio-button-font-size, 12px) !default;
$radio-button-padding: var(--vin-radio-button-padding, 5px 18px) !default;
$radio-icon-font-size: var(--vin-radio-icon-font-size, 18px) !default;

//fixednav
$fixednav-bg-color: var(--vin-fixednav-bg-color, $white) !default;
$fixednav-font-color: var(--vin-fixednav-font-color, $black) !default;
$fixednav-index: var(--vin-fixednav-index, 201) !default;
$fixednav-btn-bg: var(
  --vin-fixednav-btn-bg,
  linear-gradient(135deg, $primary-color 0%, $primary-color-end 100%)
) !default;

// NoticeBar
$noticebar-background: var(--vin-noticebar-background, rgba(251, 248, 220, 1)) !default;
$noticebar-color: var(--vin-noticebar-color, #d9500b) !default;
$noticebar-font-size: var(--vin-noticebar-font-size, 14px) !default;
$noticebar-height: var(--vin-noticebar-height, 40px) !default;
$noticebar-line-height: var(--vin-noticebar-line-height, 24px) !default;
$noticebar-left-icon-width: var(--vin-noticebar-left-icon-width, 16px) !default;
$noticebar-right-icon-width: var(--vin-noticebar-right-icon-width, 16px) !default;
$noticebar-box-padding: var(--vin-noticebar-box-padding, 0 16px) !default;
$noticebar-wrapable-padding: var(--vin-noticebar-wrapable-padding, 16px) !default;
$noticebar-lefticon-margin: var(--vin-noticebar-lefticon-margin, 0 10px) !default;
$noticebar-righticon-margin: var(--vin-noticebar-righticon-margin, 0 10px) !default;

//tag
$tag-font-size: var(--vin-tag-font-size, 12px) !default;
$tag-default-border-radius: var(--vin-tag-default-border-radius, 4px) !default;
$tag-round-border-radius: var(--vin-tag-round-border-radius, 8px) !default;
$tag-default-background-color: var(--vin-tag-default-background-color, #000) !default;
$tag-primary-background-color: var(--vin-tag-primary-background-color, #3460fa) !default;
$tag-success-background-color: var(--vin-tag-success-background-color, #4fc08d) !default;
$tag-danger-background-color: var(
  --vin-tag-danger-background-color,
  linear-gradient(
    135deg,
    rgba(242, 20, 12, 1) 0%,
    rgba(232, 34, 14, 1) 70%,
    rgba(242, 77, 12, 1) 100%
  )
) !default;
$tag-warning-background-color: var(--vin-tag-warning-background-color, #f3812e) !default;
$tag-default-color: var(--vin-tag-default-color, #fff) !default;
$tag-border-width: var(--vin-tag-border-width, 1px) !default;
$tag-plain-background-color: var(--vin-tag-plain-background-color, #fff) !default;

//badge
$badge-background-color: var(
  --vin-badge-background-color,
  linear-gradient(135deg, $primary-color 0%, $primary-color-end 100%)
) !default;
$badge-color: var(--vin-badge-color, #fff) !default;
$badge-font-size: var(--vin-badge-font-size, $font-size-1) !default;
$badge-border-radius: var(--vin-badge-border-radius, 14px) !default;
$badge-padding: var(--vin-badge-padding, 0 5px) !default;
$badge-content-transform: var(--vin-badge-content-transform, translate(50%, -50%)) !default;
$badge-z-index: var(--vin-badge-z-index, 1) !default;
$badge-dot-width: var(--vin-badge-dot-width, 7px) !default;
$badge-dot-height: var(--vin-badge-dot-height, 7px) !default;
$badge-dot-border-radius: var(--vin-badge-dot-border-radius, 7px) !default;
$badge-dot-padding: var(--vin-badge-dot-padding, 0) !default;

//progress
$progress-inner-background-color: var(
  --vin-progress-inner-background-color,
  linear-gradient(135deg, $primary-color 0%, $primary-color-end 100%)
) !default;
$progress-insidetext-background: var(
  --vin-progress-insidetext-background,
  $progress-inner-background-color
) !default;
$progress-outer-background-color: var(--vin-progress-outer-background-color, #f3f3f3) !default;
$progress-outer-border-radius: var(--vin-progress-outer-border-radius, 12px) !default;
$progress-insidetext-border-radius: var(--vin-progress-insidetext-border-radius, 5px) !default;
$progress-insidetext-padding: var(--vin-progress-insidetext-padding, 3px 5px 3px 6px) !default;
$progress-insidetext-top: var(--vin-progress-insidetext-top, -42%) !default;
$progress-small-height: var(--vin-progress-small-height, 5px) !default;
$progress-small-text-font-size: var(--vin-progress-small-text-font-size, 7px) !default;
$progress-small-text-line-height: var(--vin-progress-small-text-line-height, 10px) !default;
$progress-small-text-padding: var(--vin-progress-small-text-padding, 2px 4px) !default;
$progress-small-text-top: var(--vin-progress-small-text-top, -100%) !default;
$progress-base-height: var(--vin-progress-base-height, 10px) !default;
$progress-base-text-font-size: var(--vin-progress-base-text-font-size, 9px) !default;
$progress-base-text-line-height: var(--vin-progress-base-text-line-height, 13px) !default;
$progress-base-text-padding: var(
  --vin-progress-base-text-padding,
  $progress-insidetext-padding
) !default;
$progress-base-text-top: var(--vin-progress-base-text-top, $progress-insidetext-top) !default;
$progress-large-height: var(--vin-progress-large-height, 15px) !default;
$progress-large-text-font-size: var(--vin-progress-large-text-font-size, 13px) !default;
$progress-large-text-line-height: var(--vin-progress-large-text-line-height, 18px) !default;
$progress-large-text-padding: var(
  --vin-progress-large-text-padding,
  $progress-insidetext-padding
) !default;
$progress-large-text-top: var(--vin-progress-large-text-top, $progress-insidetext-top) !default;

// tabs
$tabs-tab-smile-color: var(--vin-tabs-tab-smile-color, $primary-color) !default;
$tabs-titles-border-radius: var(--vin-tabs-titles-border-radius, 0) !default;
$tabs-titles-item-large-font-size: var(
  --vin-tabs-titles-item-large-font-size,
  $font-size-3
) !default;
$tabs-titles-item-font-size: var(--vin-tabs-titles-item-font-size, $font-size-2) !default;
$tabs-titles-item-small-font-size: var(
  --vin-tabs-titles-item-small-font-size,
  $font-size-1
) !default;
$tabs-titles-item-color: var(--vin-tabs-titles-item-color, $title-color) !default;
$tabs-titles-item-active-color: var(--vin-tabs-titles-item-active-color, $title-color) !default;
$tabs-titles-background-color: var(--vin-tabs-titles-background-color, $help-color) !default;
$tabs-horizontal-tab-line-color: var(
  --vin-tabs-horizontal-tab-line-color,
  linear-gradient(90deg, $primary-color 0%, rgba(#fa2c19, 0.15) 100%)
) !default;
$tabs-horizontal-titles-height: var(--vin-tabs-horizontal-titles-height, 46px) !default;
$tabs-horizontal-titles-item-min-width: var(
  --vin-tabs-horizontal-titles-item-min-width,
  50px
) !default;
$tabs-horizontal-titles-item-active-line-width: var(
  --vin-tabs-horizontal-titles-item-active-line-width,
  40px
) !default;
$tabs-vertical-tab-line-color: var(
  --vin-tabs-vertical-tab-line-color,
  linear-gradient(180deg, $primary-color 0%, rgba(#fa2c19, 0.15) 100%)
) !default;
$tabs-vertical-titles-item-height: var(--vin-tabs-vertical-titles-item-height, 40px) !default;
$tabs-vertical-titles-item-active-line-height: var(
  --vin-tabs-vertical-titles-item-active-line-height,
  14px
) !default;
$tabs-vertical-titles-width: var(--vin-tabs-vertical-titles-width, 100px) !default;

// searchbar
$searchbar-background: var(--vin-searchbar-background, $white) !default;
$searchbar-right-out-color: var(--vin-searchbar-right-out-color, $black) !default;
$searchbar-padding: var(--vin-searchbar-padding, 9px 16px) !default;
$searchbar-width: var(--vin-searchbar-width, 100%) !default;
$searchbar-input-background: var(--vin-searchbar-input-background, #f7f7f7) !default;
$searchbar-input-padding: var(--vin-searchbar-input-padding, 0 0 0 13px) !default;
$searchbar-input-height: var(--vin-searchbar-input-height, 32px) !default;
$searchbar-input-width: var(--vin-searchbar-input-width, 100%) !default;
$searchbar-input-border-radius: var(--vin-searchbar-input-border-radius, 16px) !default;
$searchbar-input-box-shadow: var(
  --vin-searchbar-input-box-shadow,
  0 0 8px 0 rgba(0, 0, 0, 0.04)
) !default;

// empty
$empty-padding: var(--vin-empty-padding, 32px 0) !default;
$empty-image-size: var(--vin-empty-image-size, 170px) !default;
$empty-description-margin-top: var(--vin-empty-description-margin-top, 4px) !default;
$empty-description-color: var(--vin-empty-description-color, #666) !default;
$empty-description-font-size: var(--vin-empty-description-font-size, 14px) !default;
$empty-description-line-height: var(--vin-empty-description-line-height, 20px) !default;
$empty-description-padding: var(--vin-empty-description-padding, 0 40px) !default;

// cascader
$cascader-font-size: var(--vin-cascader-font-size, $font-size-2) !default;
$cascader-line-height: var(--vin-cascader-line-height, 22px) !default;
$cascader-tabs-item-padding: var(--vin-cascader-tabs-item-padding, 0 10px) !default;
$cascader-bar-padding: var(--vin-cascader-bar-padding, 24px 20px 17px) !default;
$cascader-bar-font-size: var(--vin-cascader-bar-font-size, $font-size-4) !default;
$cascader-bar-line-height: var(--vin-cascader-bar-line-height, 20px) !default;
$cascader-bar-color: var(--vin-cascader-bar-color, $title-color) !default;
$cascader-item-padding: var(--vin-cascader-item-padding, 10px 20px) !default;
$cascader-item-color: var(--vin-cascader-item-color, $title-color) !default;
$cascader-item-font-size: var(--vin-cascader-item-font-size, $font-size-2) !default;
$cascader-item-active-color: var(--vin-cascader-item-active-color, $primary-color) !default;

// form
$form-item-error-line-color: var(--vin-form-item-error-line-color, $required-color) !default;
$form-item-required-color: var(--vin-form-item-required-color, $required-color) !default;
$form-item-error-message-color: var(--vin-form-item-error-message-color, $required-color) !default;
$form-item-label-font-size: var(--vin-form-item-label-font-size, 14px) !default;
$form-item-label-width: var(--vin-form-item-label-width, 90px) !default;
$form-item-label-margin-right: var(--vin-form-item-label-margin-right, 10px) !default;
$form-item-label-text-align: var(--vin-form-item-label-text-align, left) !default;
$form-item-required-margin-right: var(--vin-form-item-required-margin-right, 4px) !default;
$form-item-body-font-size: var(--vin-form-item-body-font-size, 14px) !default;
$form-item-body-slots-text-align: var(--vin-form-item-body-slots-text-align, left) !default;
$form-item-body-input-text-align: var(--vin-form-item-body-input-text-align, left) !default;
$form-item-tip-font-size: var(--vin-form-item-tip-font-size, 10px) !default;
$form-item-tip-text-align: var(--vin-form-item-tip-text-align, left) !default;

// grid
$grid-border-color: var(--vin-grid-border-color, #f5f6f7) !default;
$grid-item-content-padding: var(--vin-grid-item-content-padding, 16px 8px) !default;
$grid-item-content-bg-color: var(--vin-grid-item-content-bg-color, $white) !default;
$grid-item-text-margin: var(--vin-grid-item-text-margin, 8px) !default;
$grid-item-text-color: var(--vin-grid-item-text-color, $title-color2) !default;
$grid-item-text-font-size: var(--vin-grid-item-text-font-size, $font-size-1) !default;

// table
$table-border-color: var(--vin-table-border-color, #ececec) !default;
$table-cols-padding: var(--vin-table-cols-padding, 10px) !default;
$table-tr-even-bg-color: var(--vin-table-tr-even-bg-color, #f3f3f3) !default;
$table-tr-odd-bg-color: var(--vin-table-tr-odd-bg-color, $white) !default;

// navbar
$navbar-height: var(--vin-navbar-height, 44px) !default;
$navbar-margin-bottom: var(--vin-navbar-margin-bottom, 20px) !default;
$navbar-padding: var(--vin-navbar-padding, 0 16px) !default;
$navbar-background: var(--vin-navbar-background, $white) !default;
$navbar-box-shadow: var(--vin-navbar-box-shadow, 0 1px 7px 0 rgba(237, 238, 241, 1)) !default;
$navbar-color: var(--vin-navbar-color, $title-color2) !default;
$navbar-title-base-font: var(--vin-navbar-title-base-font, $font-size-2) !default;
$navbar-title-font: var(--vin-navbar-title-font, $font-size-2) !default;
$navbar-title-font-weight: var(--vin-navbar-title-font-weight, 0) !default;
$navbar-title-font-color: var(--vin-navbar-title-font-color, $navbar-color) !default;
$navbar-title-width: var(--vin-navbar-title-width, 100px) !default;
$navbar-title-icon-margin: var(--vin-navbar-title-icon-margin, 0 0 0 13px) !default;

// sidenavbar
$sidenavbar-content-bg-color: var(--vin-sidenavbar-content-bg-color, $white) !default;

// list
$list-item-margin: var(--vin-list-item-margin, 0 0 10px 0) !default;

// Comment
$comment-header-user-name-color: var(
  --vin-comment-header-user-name-color,
  rgba(51, 51, 51, 1)
) !default;
$comment-header-time-color: var(--vin-comment-header-time-color, rgba(153, 153, 153, 1)) !default;
$comment-bottom-label-color: var(--vin-comment-bottom-label-color, rgba(153, 153, 153, 1)) !default;
$comment-shop-color: var(--vin-comment-shop-color, $primary-color) !default;

@import './mixins/index';
@import './animation/index';
