.demo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 15px 17px 15px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f7f8fa;

  > .h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
    color: #909ca4;
    font-weight: 400;
    font-size: 14px;
  }

  &.full {
    min-height: 100vh;
    padding: 15px 0 0;
  }
}

.bg-w {
  background-color: #fff;
}
