.demo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 15px 17px 15px;
  overflow-x: hidden;
  overflow-y: auto;
  background: $help-color;

  .h2 {
    display: flex;
    color: #303030;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 16px;

    &::before {
      width: 5px;
      margin-right: 10px;
      background-color: $primary-color;
      border-radius: 4px;
      content: ' ';
    }
  }

  &.full {
    min-height: 100vh;
    padding: 15px 0 0;

    .h2 {
      margin-left: 10px;
    }
  }
}

.bg-w {
  background-color: $white;
}

.demo-title {
  display: flex;
  color: #303030;
  font-weight: bold;

  &::before {
    width: 5px;
    margin-right: 10px;
    background-color: $primary-color;
    border-radius: 4px;
    content: ' ';
  }

  &.heading-2 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 16px;
  }
}

.paragraph {
  margin: 0 0 20px;
  line-height: 1.8;
}

.code {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 5px;
  color: $primary-color;
  font-size: 90%;
  font-family: Monaco, Menlo, Consolas, 'Courier New';
  line-height: 1.6;
  vertical-align: baseline;
  background-color: $white;
  border-radius: 3px;
}
