.demo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 15px 17px 15px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f7f8fa;

  > .h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
    color: #909ca4;
    font-weight: 400;
    font-size: 14px;
  }

  &.full {
    min-height: 100vh;
    padding: 15px 0 0;
  }
}

.bg-w {
  background-color: #fff;
}

.demo-title {
  display: flex;
  color: #303030;
  font-weight: bold;

  &::before {
    content: ' ';
    width: 5px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #0081f7;
  }

  &.heading-2 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 16px;
  }
}

.paragraph {
  margin: 0 0 20px;
  line-height: 1.8;
}

.code {
  display: inline-block;
  padding: 0 5px;
  border-radius: 3px;
  line-height: 1.6;
  vertical-align: baseline;
  font-family: Monaco, Menlo, Consolas, 'Courier New';
  font-size: 90%;
  position: relative;
  z-index: 1;
  color: #0081ff;
  background-color: #fff;
}
