.vin-switch {
  display: inline-flex;
  flex: 0 0 auto; // 防止被压缩
  align-items: center;
  background-color: $primary-color;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  border-radius: $switch-border-radius;
  cursor: pointer;
  &.switch-close {
    background-color: $switch-close-bg-color;
    .close-line {
      background: $switch-close--cline-bg-color;
      border-radius: 2px;
    }
  }
  .switch-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    border-radius: 50%;
    transition: transform 0.3s;
    .vin-switch-label {
      color: $white;
      font-size: $font-size-1;
      &.open {
        transform: translateX(-16px);
      }
      &.close {
        transform: translateX(16px);
      }
    }
  }
  &.vin-switch-disable {
    opacity: 0.6;
  }
  &.vin-switch-base {
    width: $switch-width;
    height: $switch-height;
    line-height: $switch-line-height;
    .switch-button {
      width: $switch-inside-height;
      height: $switch-inside-width;
      transform: $switch-inside-close-transform;
    }
    &.switch-open {
      .switch-button {
        transform: $switch-inside-open-transform;
      }
    }
    &.switch-close {
      .close-line {
        width: 8px;
        height: 2px;
      }
    }
  }
}
