.vin-cell {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
  padding: $cell-padding;
  color: $cell-color;
  font-size: $cell-title-font;
  line-height: $cell-line-height;
  background: $white;
  border-radius: $cell-border-radius;
  box-shadow: 0 1px 7px 0 rgba(237, 238, 241, 1);

  &:last-child {
    &::after {
      border: 0 !important;
    }
  }

  &::after {
    position: absolute;
    right: $cell-after-right;
    bottom: 0;
    left: 16px;
    box-sizing: border-box;
    transform: scaleY(0.5);
    content: ' ';
    pointer-events: none;
  }

  &:active::before {
    opacity: 0.1;
  }

  &--clickable {
    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background-color: $black;
      border: inherit;
      border-color: $black;
      border-radius: inherit;
      transform: translate(-50%, -50%);
      opacity: 0;
      content: ' ';
    }
  }

  .vin-cell__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: $cell-default-icon-margin;
  }

  &__title {
    display: flex;
    flex: 1;
    flex-direction: column;

    &-desc {
      font-size: $cell-title-desc-font;
    }
  }

  &__value {
    display: inline-block;
    color: $cell-desc-color;
    font-size: $cell-desc-font;
    text-align: right;
  }

  &__link {
    color: #979797;
  }
}
