@import './light';
@import './dark';

// 多主题
.theme-light {
  position: relative;
  z-index: 1;

  @include theme-light;
}

.theme-dark {
  position: relative;
  z-index: 1;

  @include theme-dark;
}

.theme-auto {
  position: relative;
  z-index: 1;

  @include theme-light;
}

@media (prefers-color-scheme: dark) {
  .theme-auto {
    position: relative;
    z-index: 1;

    @include theme-dark;
  }
}
